<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <session-config>
        <session-timeout>360</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>QuerypyServlet</servlet-name>
        <servlet-class>iptv.account.QuerypyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuerypyServlet</servlet-name>
        <url-pattern>/HttpService/QuerypyServlet.ashx</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>
